@font-face{
    font-family: "Monster Melted";
    src: url(./melted-monster.ttf)
}

html{
    background-image: url(https://thumbs.dreamstime.com/b/street-town-night-street-town-night-cityscape-old-apartment-houses-light-windows-cartoon-vector-175170620.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.corpo{
    background-color: black;
    opacity: 0.9;
    color:red;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    font-size: 200%;
    margin: 1.25rem;
    padding: 10vw;
}

h1{
    font-family:"Monster Melted";
}

button{
    color: red;
    background-color: black;
    border-radius: 1.25rem;
    font-size: 120%;
    border: 0.3rem red solid   
}

.suspeitos{
    width: 30rem
}

.fase{
    background-color: black;
    opacity: 0.85;
    color:red;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    font-size: 150%;
    margin: 1.5rem;
    padding: 4rem;
}
nav{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.bfase{
    font-size: 60%;
    margin: 0.625rem
}

#pegadas{
    width: 20rem;
}

#brinco{
    width: 10rem;
}

#carretel{
    width: 19rem;
}

ol{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

.portrait{
    width: 3rem;
    height: 3rem;
}

.portrait:hover{
    cursor:pointer;
    transform: scale(2);
}

.fimdejogo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameover{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-size: 200%;
    margin: 1.25rem; 
    background-color: black;
    opacity: 0.85;
    color:red;
    padding: 3rem
}

.vitoria{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-size: 150%;
    margin: 1.25rem; 
    background-color: white;
    opacity: 0.85;
    color:blue;
    padding: 3rem;
}

.win{
    font-family: fantasy;
}

.bwin{
    color: blue;
    background-color: white;
    border-radius: 1.25rem;
    font-size: 150%;
    border: 0.3rem blue solid   
}

footer{
    color:white;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 1.2rem;
    opacity: 0.8;
    width:25rem;
}

.bwin:hover{
    cursor: pointer;
    border: 0.3rem cadetblue solid; 
    color: white;
    background: linear-gradient(to right, cadetblue 0%, blue 100%); 
}

button:hover{
    background: linear-gradient(to right, #ff0000 0%, #800000 100%);
    border: darkred solid 0.3rem;
    color: lightgray;
}

@media (max-width: 900px){
    html{
     font-size: 12px;
    }
    li{
        display: flex;
        flex-flow: column;
    }
}

@media (max-width:700px){
    html{
        font-size: 10px;
    }
    li{
        display: flex;
        flex-flow: column;
    }
}

@media (max-width:500px){
    html{
        font-size: 8px;
    }
    li{
        display: flex;
        flex-flow: column;
    }
}

@media (max-width:300px){
    html{
        font-size: 6px;
    }
    li{
        display: flex;
        flex-flow: column;
    }
}
